{% extends "base.html" %}

{% block content %}
      <h1>Распорядиться</h1>
    <div class="container">
<form>{{ form.hidden_tag() }}
  <div class="form-group">
    <label for="exampleFormControlInput1">Заголовок</label>
      {{ form.title(id='exampleFormControlInput1', placeholder='Заголовок', class="form-control", type="text") }}
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Тип распоряжения</label>
      {{ form.task_type(size=3, class="form-control", id="exampleFormControlSelect1", placeholder='Тип распоряжения') }}

  </div>
    <div class="form-group">
    <label for="exampleFormControlInput1">Дедлайн</label>
        {{ form.due_date(id='exampleFormControlInput1', placeholder='Крайняя дата выполнения', type="text", class="form-control") }}
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Описание задачи</label>
      {{ form.description(id='user', placeholder='Описание', class="form-control") }}
  </div>
<div class="form-group">
    <label for="exampleFormControlSelect1">Приоритет</label>
    {{ form.priority(id='exampleFormControlSelect1', placeholder='Описание', class="form-control") }}
  </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Место назначения</label>
    {{ form.location(id='exampleFormControlInput1', placeholder='Место назначения', type="text", class="form-control") }}
</div>
    <div class="form-group">
    {{ form.submit(id='exampleFormControlSelect1', class="btn btn-dark", type="submit") }}
</div>

</form>
</div>

{% endblock %}
