{% extends "base.html" %}
<link href="{{ url_for("static", filename="css/main.css") }}" rel="stylesheet">
{% block content %}
      <h1>Распорядиться</h1>
<div id="wrapper">
<form id="signin" method="post" action="" autocomplete="off" novalidate>
        {{ form.hidden_tag() }}


        <p>
            {{ form.author(size=32, id='user', placeholder='Автор') }}</p>

<p>
            {{ form.title(size=32, id='user', placeholder='Заголовок') }}</p>
<p>
            {{ form.task_type(size=3, id='user', placeholder='Тип распоряжения') }}</p>
<p>

            {{ form.due_date(size=32, id='user', placeholder='Срок выполнения') }}</p>

<p>
            {{ form.description(size=32, id='user', placeholder='Описание') }}</p>
<p>
        {{ form.submit(size=10, type='submit') }}</p>
</form>
</div>

{% endblock %}
